h1 {
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead > tr {
  background-image: linear-gradient(
    to bottom,
    rgb(173, 216, 230),
    rgb(113, 197, 225)
  );
}

tr[class="read"] {
  background-image: linear-gradient(
    to bottom,
    rgb(223, 250, 223),
    rgb(125, 251, 125)
  );
}

tr[class="to-read"] {
  background-image: linear-gradient(
    to bottom,
    rgb(254, 252, 252),
    rgb(214, 213, 213)
  );
}

tr[class="in-progress"] {
  background-image: linear-gradient(
    to bottom,
    rgb(250, 232, 197),
    rgb(252, 213, 141)
  );
}

span {
  display: inline-block;
  text-align: center;
}

tr[class="to-read"] span[class="status"] {
  border: 2px solid rgb(251, 0, 0);
  border-radius: 20px;
  background-image: linear-gradient(
    to bottom,
    rgb(251, 141, 141),
    rgb(251, 0, 0)
  );
}

tr[class="read"] span[class="status"] {
  border: 2px solid rgb(2, 201, 2);
  border-radius: 20px;
  background-image: linear-gradient(
    to bottom,
    rgb(135, 248, 146),
    rgb(2, 201, 2)
  );
}

tr[class="in-progress"] span[class="status"] {
  border: 2px solid rgb(255, 165, 0);
  border-radius: 20px;
  background-image: linear-gradient(
    to bottom,
    rgb(249, 204, 119),
    rgb(255, 165, 0)
  );
}

td {
  text-align: center;
}

span[class="status"],
span[class^="rate"] {
  width: 100%;
  height: 100%;
  padding: 3px;
}

span[class^="rate"] > span {
  width: 20px;
  height: 20px;
  margin: 2px;
  background-color: rgb(237, 236, 236);
  border: 1px solid black;
  border-radius: 50%;
}

span[class~="one"] :nth-child(1) {
  background-image: linear-gradient(to right, orange, orange);
}

span[class~="two"] :nth-child(-n + 2) {
  background-image: linear-gradient(to right, orange, orange);
}

span[class~="three"] span {
  background-image: linear-gradient(to right, orange, orange);
}
