:root {
  --color0: #ffffff;
  --color1: #e6f9e6;
  --color2: #b4f8c8;
  --color3: #70c282;
  --color4: #388e3c;
  --color5: #1b5e20;
  --solid-border: 1px solid black;
  --dashed-border: 1px dashed black;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

table {
  margin-top: 100px;
  border-collapse: collapse;
}

th {
  min-width: 80px;
}

tr {
  height: 20px;
}

td {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.bottom {
  border-bottom: 1px solid black;
}

.half td {
  border-bottom: var(--dashed-border);
}

.sharp td {
  border-bottom: var(--solid-border);
}

.time {
  position: relative;
  bottom: 10px;
}

.last {
  top: 10px;
}

.available-0 {
  background-color: var(--color0);
}

.available-1 {
  background-color: var(--color1);
}

.available-2 {
  background-color: var(--color2);
}

.available-3 {
  background-color: var(--color3);
}

.available-4 {
  background-color: var(--color4);
}

.available-5 {
  background-color: var(--color5);
}

#legend {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

#legend-gradient {
  width: 100px;
  height: 20px;
  border: 1px solid black;
  background-image: linear-gradient(
    to right,
    var(--color0) 0% 16.67%,
    var(--color1) 16.67% 33.34%,
    var(--color2) 33.34% 50.01%,
    var(--color3) 50.01% 66.68%,
    var(--color4) 66.68% 83.35%,
    var(--color5) 83.35% 100%
  );
}

#legend-gradient::before {
  content: "0";
  position: relative;
  right: 15px;
}

#legend-gradient::after {
  content: "5+";
  position: relative;
  left: 100%;
}
