body {
  width: 100vw;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input:focus,
textarea:focus {
  border: 2px solid black;
}

input:invalid,
select:invalid,
textarea:invalid {
  border: 1px solid red;
}

input:valid,
select:valid,
textarea:valid {
  border: 1px solid green;
}

button {
  color: white;
  background-color: green;
  border: none;
  padding: 10px;
}

button:hover {
  background-color: black;
}
